div.container {
    display:grid;
    // grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 2rem;
    text-align: center;
}

div.container div{
    background: lightblue;
}