<h1>Products</h1>
<div class="container">
    <div *ngFor="let aliment of aliments">
        <h2>{{aliment.name}}</h2>
        <p>{{aliment.category}}</p>
        <p> {{aliment.price}} $</p>
        
<button type="button" class="btn btn-secondary" (click)="addToCart(aliment)">Add to Cart</button>
<button type="button" class="btn btn-secondary" (click)="deleteFromCart(aliment)">Delete from Cart</button>
    </div>
   
</div> 

<div class="container">
   <button class="btn btn-secondary">  {{shoppingCart.length}} </button>
   
   
   <div *ngFor="let aliment of aliments">
   <p> Hay  {{aliment.counter}} {{aliment.name}} y su precio es {{aliment.counter * aliment.price}}</p>
   </div>

</div>
    <p>El precio total del carrito es de  {{totalPrice}}</p>
   